<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="manifest" href="/manifest.json">
        <script type="module" src="https://cdn.jsdelivr.net/npm/@pwabuilder/pwaauth@latest/dist/pwa-auth.min.js"></script> 
        <script type="module" src="/pwabuilder-sw-register.js"></script>
        <script type="text/javascript" src="/javascripts/logout.js"></script> 
        <script type="text/javascript" src="/javascripts/getCook.js"></script> 
        <!-- <script type="text/javascript" src="/javascripts/dateToDisplay.js"></script>  -->
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    </head>
    <body>
        <div class="container">

            <img src="./images/backArrowIcon.png" onclick="window.location = '/'"  style="position: absolute; height: 4vh; top: 2vh; left: 2vw; cursor: pointer">

            <a style="position:absolute; height: 3vh; right: 2vw; top:2vh; cursor:pointer" onclick="openModal()">
                <img id="hamburgerButton" src="./images/hamburgerDots.png" height="100%">
            </a>

            <div id="myModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <p id="modalText" onclick="logout()">Log Out</p>
                </div>
            </div>
            

            <h1 style="margin-top: 9vh"><%= title %></h1>

            <div id="contentManagement" style="padding: 3vh; height: 30vh; max-width: 400px; margin:auto">
                <button class="adminButton" onclick="window.location='https://app.forestadmin.com/care4cf-admin/'">
                    Click Here to Access Content Management Page
                </button>
            </div>

            <div id="notifDiv" style="padding: 3vh">
                <form>
                    <input type="text" id="payloadText" name="payloadText" style="width: 100%; max-width:400px" placeholder="Enter a message to send..."required>
                    <br>
                    <button class="optionButton" type="button" onclick="sendPush()" style="margin: 2vh">Send Notification To All Users</button>
                </form>
            </div>
            

        </div>

        

        <script>
            function sendPush() {
                if (!navigator.onLine) {
                    alert('Please go online to send notifications')
                } else {
                    var payload = document.getElementById("payloadText").value;
                    if (!payload) {
                        alert('Please enter a message to be pushed to users')
                    } else {
                        // console.log('payload: ', payload)
                        var http = new XMLHttpRequest();
                        http.open("POST", "/sendNotification", true);
                        http.setRequestHeader("Content-type","application/x-www-form-urlencoded");

                        // var params = "set=" + document.getElementById("setForm").value + "&user=" + document.getElementById("userForm").value; // probably use document.getElementById(...).value
                        
                        var params = "payload=" + encodeURIComponent(payload);
                        http.send(params);
                        http.onload = function() {
                            alert(http.responseText);
                        }
                    }
                }                 
            }

            var modal = document.getElementById("myModal");
            var span = document.getElementsByClassName("close");

            span[0].onclick = function() {
                modal.style.display = "none";
            }

            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }

            function openModal() {
                // document.getElementById('modalText').innerHTML = '<p style="text-align: center">'+date+'</p>';
                // routineDescription(activities[date], 'modalText');
                modal.style.display = "block";
            }
        </script>


    </body>