<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="No activities completed">
        <meta name="theme-color" content="#DEE3EE"/>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="manifest" href="/manifest.json">
        <script type="module" src="/pwabuilder-sw-register.js"></script>
        <script type="text/javascript" src="/javascripts/getCook.js"></script> 
        <link href='https://fonts.googleapis.com/css?family=Roboto&display=swap' rel='stylesheet'>
        <link rel="apple-touch-icon" href="/images/icon512.png">
    </head>
    <body>

        <div class="container">

            <img src="./images/backArrowIcon.png" alt="back" onclick="window.location='/'"  style="position: absolute; height: 4vh; top: 2vh; left: 2vw; cursor: pointer">

            <h1 style="margin-top: 9vh"><%= title %></h1>

            <div id="loadingModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <!-- <span class="close">&times;</span> -->
                    <p id="loadingModalText">Please Wait...</p>
                </div>
            </div>

            <div style="max-width: 400px; margin: auto; margin-top: 30vh;">
                <form method="POST" action="/noActivities" onsubmit="return isOnline()">
                    <select id="reason" name="reasonID" required>
                        <option value="" selected disabled hidden>Reason for no activities</option>
                    </select>
                    
                    <a id="details"></a>
                    <br>
                    <!-- <div id="navButtonContainer"> -->
                        <button class="navButton" style="margin-top: 25vh;" type="submit" value="Submit" onclick="loadingModal()">
                            <img src="images/tickIcon.png" alt="confirm" style="height: 100%">
                        </button>
                    <!-- </div> -->
                    
                </form>
            </div>
            

        <br>
    </div>
        

        <script>
            if (!(navigator.onLine) && (!(getCook('accessToken')))) {
                window.location.href = "/loginUser"
            }
            
            var reasons = <%- reasons %>;
            var details = <%- details %>;

            for (var i = 0; i < reasons['results'].length; i++) {
                var o = document.createElement('option');
                o.value = reasons['results'][i].reasonID;
                o.innerHTML = reasons['results'][i].description;
                document.getElementById('reason').appendChild(o);
            }

            document.getElementById('details').innerHTML = "<input type='hidden' name='details' value='" + JSON.stringify(details) + "'>";

            function isOnline() {
                /** 
                * Check if browser is current online, return false if not
                * @return {Boolean} false
                */
                
                if (!(navigator.onLine)) {
                    alert("Cannot update while offline");
                    return false;
                }
            }

            function loadingModal() {
            /** 
            * Open the prompt modal
            */
                var reasonVal =  document.getElementById('reason').value;
                if ((reasonVal) && (navigator.onLine)) {
                    setTimeout(function() {
                        document.getElementById('loadingModal').style.display = "block";
                    }, 1500)
                    
                }
                
            }

        </script>
        

    </body>
</html>