<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="manifest" href="/manifest.json">
        <script type="module" src="/pwabuilder-sw-register.js"></script>
        <script type="text/javascript" src="/javascripts/getCook.js"></script> 
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    </head>
    <body>

        <div class="container">

            <img src="./images/backArrowIcon.png" onclick="window.location='/'"  style="position: absolute; height: 4vh; top: 2vh; left: 2vw; cursor: pointer">

            <h1 style="margin-top: 9vh"><%= title %></h1>

            <div style="max-width: 400px; margin: auto; margin-top: 30vh;">
                <form method="POST" action="/noActivities">
                    <select id="reason" name="reasonID" required>
                        <option value="" selected disabled hidden>Reason for no activities</option>
                    </select>
                    
                    <a id="details"></a>
                    <!-- <a id="user"></a> -->
                    <br>
                    <div id="navButtonContainer">
                        <button class="navButton" style="margin-bottom: 3vh;" type="submit" value="Submit">
                            <img src="images/tickIcon.png" style="height: 100%">
                        </button>
                    </div>
                    
                </form>
            </div>
            

        <br>
    </div>
        

        <script>
            if (!(navigator.onLine) && (!(getCook('accessToken')))) {
                window.location.href = "/loginUser"
            }
            
            var reasons = <%- reasons %>;
            var details = <%- details %>;

            for (var i = 0; i < reasons['results'].length; i++) {
                var o = document.createElement('option');
                o.value = reasons['results'][i].reasonID;
                o.innerHTML = reasons['results'][i].description;
                document.getElementById('reason').appendChild(o);
            }

            // console.log('details: ',details);
            // console.log('reasons: ', reasons);

            document.getElementById('details').innerHTML = "<input type='hidden' name='details' value='" + JSON.stringify(details) + "'>";

        </script>
        

    </body>
</html>