<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="manifest" href="/manifest.json">
        <!-- <script type="module" src="/pwabuilder-sw-register.js"></script> -->
    </head>
    <body>

        <h1><%= title %></h1>
        

    </body>
</html>