<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="manifest" href="/manifest.json">
        <script type="module" src="/pwabuilder-sw-register.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>
    <body>

        <button id="sendNotif" onclick="showNotification()">Notification</button>
        <button id="properPush" onclick="properPush()">ProperPush</button>

        <script>
            async function properPush() {
                const rawResponse = await fetch('/sendNotification', {
                    method: 'GET',
                });
                const content = await rawResponse.text();
                console.log('SendNotifcontent: ', content);
            }
           

            function showNotification() {
                Notification.requestPermission(function(result) {
                    console.log('request permission: ', result);
                    if (result === 'granted') {
                        navigator.serviceWorker.ready
                        .then(async function(registration) {
                            console.log('registration:', registration);
                            var timeStamp = new Date()
                            // console.log(msToHMS(timeStamp.getTime()));
                            
                            await registration.showNotification('Simple Push', {
                                body: timeStamp,
                                icon: './images/icon512.png',
                                vibrate: [200, 100, 200, 100, 200, 100, 200],
                                tag: 'vibration-sample'
                            })
                            .then(console.log('end of function'));
                        });
                    }
                });
            }

        </script>
        
    </body>