html, body {
  height:100%;
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  font-family: 'Roboto';font-size: 16px;
  color: #373737;
  letter-spacing: 3px;
  margin: 0px;
}

.container {
  height: 100%;
  width: 100%;
  /* Gradient adapted from: https://www.schemecolor.com/sky-blue-gradient.php */
  /* background-image: linear-gradient(to right bottom, #97ebf4, #a1edf7, #aaeff9, #b4f1fb, #bdf3fd, #c7f4fe, #d1f6ff, #dbf7ff, #e7f8ff, #f2f9ff, #fafcff, #ffffff); */
  background-image: linear-gradient(to right top, #e3e6ec, #d7e6f4, #c4e7fa, #aee9fa, #97ebf4);
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Roboto';font-size: 16px;
  color: #373737;
  letter-spacing: 3px;
  text-align: center;
}

.center {
  position: absolute;
  left: 50%;
  top: 33%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
}

#modalText {
  cursor: pointer;
  width: 80%;
  padding: 3%;
}

#modalText:hover {
  background-color:lightgray;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

table {
  width: 100%;
  max-width: 600px;
  margin: auto;
  /* max-height: 50vh; */
}
#calth {
  text-align: center;
}
#caltd {
  /* width: 14.2%; */
  height: 16%;
  text-align: center;
  /* line-height: 100px !important; */
  font-size: 3vw;
}
/* tr {
  height: 9vw;
} */
.dot {
  border-color: blue;
  border-width: 2px;
  border-style: solid;
}
#caltd,
#year {
  font-family: monospace;
}
.hover {
  background: #eee;
}
.calendar {
  width: 80%;
  /* height: 30%; */
  margin: auto;
}


pwa-auth::part(signInButton) {
  background-color: #247da1;
  color: white;
  width: 100%;
}



/* a {
  color: #00B7FF;
} */

#outer
{
    width:100%;
    text-align: center;
}
.inner
{
    display: inline-block;
    margin-top: 5vh;
}

.dayButton {
  text-align: center;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  font-size: xx-large;
  position: absolute;
  top: 12vh;
}

.routineButton {
  background: #DEE3EE;
  box-shadow: -10px -10px 30px #FFFFFF, 10px 10px 30px rgba(166, 174, 189, 0.6);
  border-radius: 10px;
  border: none;
  height: 13vh;
  width: 100%;
  max-width: 300px;
  margin: auto;
  cursor: pointer;
  font-size: 14pt;
  font-family: 'Roboto';font-size: 16px;
  color: #373737;
  letter-spacing: 3px;
}

.routineButton:active {
  background-color: #ffffff;
  box-shadow: 10px 10px 30px #FFFFFF, -10px -10px 30px rgba(166, 174, 189, 0.6);
  transform: translateY(4px);
}

#buttons {
  position: relative;
  /* bottom: 0vh; */
  margin: auto;
  padding-top: 5vh;
}


#mainSection {
  text-align: center;
  margin: auto;
  width: 100vw;
  /* position: absolute; */
  bottom: 20vh;
}

.buttonContainer {
  margin: auto;
  padding: 3vh;
}

.navButton {
  background: #DEE3EE;
  box-shadow: -10px -10px 30px #FFFFFF, 10px 10px 30px rgba(166, 174, 189, 0.6);
  padding: 3vh;
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  height: 10vh;
  width: 10vh;

}
.navButton:active {
  background-color: #2FB9CA;
  box-shadow: 10px 10px 30px #FFFFFF, -10px -10px 30px rgba(166, 174, 189, 0.6);
  transform: translateY(4px);
}

.navButtonDisabled {
  background: #DEE3EE;
  box-shadow: -10px -10px 30px #FFFFFF, 10px 10px 30px rgba(166, 174, 189, 0.6);
  padding: 3vh;
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  height: 10vh;
  width: 10vh;
}

.navButtonDisabled:active {
  background-color: #FFFFFF;
  box-shadow: 10px 10px 30px #FFFFFF, -10px -10px 30px rgba(166, 174, 189, 0.6);
  transform: translateY(4px);
}

#navButtonContainer {
  position: absolute;
  bottom: 2vh;
  width: 100%;
  /* margin: auto;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(50%); */
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}