html, body {
  height:100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0px;
}

.container {
  height: 100%;
  /* Gradient adapted from: https://www.schemecolor.com/sky-blue-gradient.php */
  /* background-image: linear-gradient(to right bottom, #97ebf4, #a1edf7, #aaeff9, #b4f1fb, #bdf3fd, #c7f4fe, #d1f6ff, #dbf7ff, #e7f8ff, #f2f9ff, #fafcff, #ffffff); */
  background-image: linear-gradient(to right top, #e3e6ec, #d7e6f4, #c4e7fa, #aee9fa, #97ebf4);
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px
}

.center {
  position: absolute;
  left: 50%;
  top: 33%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

table {
  width: 100%;
  /* max-height: 50vh; */
}
th {
  text-align: center;
}
td {
  /* width: 14.2%; */
  height: 16%;
  text-align: center;
  /* line-height: 100px !important; */
  font-size: 3vw;
}
tr {
  height: 9vw;
}
.dot {
  border-color: blue;
  border-width: 2px;
  border-style: solid;
}
td,
#year {
  font-family: monospace;
}
.hover {
  background: #eee;
}
.calendar {
  width: 80%;
  /* height: 30%; */
  margin: auto;
}


pwa-auth::part(signInButton) {
  background-color: #247da1;
  color: white;
  width: 100%;
}



a {
  color: #00B7FF;
}
